@font-face {
    font-family: 'ptsans';
    src: url('~assets/fonts/PT_Sans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}



body {
    font-family: 'ptsans', sans-serif;
}